In [20]:
!pip install xlrd
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (2.0.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [21]:
# Import required library

import pandas as pd

In [22]:
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

In [23]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [24]:
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [25]:

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [26]:
x1 = df[['Artist','Length','Rating']]
x1

            Artist    Length  Rating
0  Michael Jackson  00:42:19    10.0
1            AC/DC  00:42:11     9.5
2       Pink Floyd  00:42:49     9.0
3  Whitney Houston  00:57:44     8.5
4        Meat Loaf  00:46:33     8.0
5           Eagles  00:43:08     7.5
6         Bee Gees  01:15:54     7.0
7    Fleetwood Mac  00:40:01     6.5

In [27]:

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [28]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [29]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [30]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [31]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [32]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

In [33]:
# Access the column using the name

df.loc[0, 'Artist']

'Michael Jackson'

In [34]:
# Access the column using the name

df.loc[1, 'Released']

1980

In [35]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [36]:
import numpy as np

In [37]:
b=np.array([3.1,11.02,6.2,213.2,5.2])

In [38]:
b

array([  3.1 ,  11.02,   6.2 , 213.2 ,   5.2 ])